TELEGRAM_BOT_TOKEN=
TELEGRAM_API_BASE=https://api.telegram.org
CRYPTO_SUPPORTED_CURRENCIES=USDT
CRYPTO_WALLET_STRATEGY=memo_tag
CRYPTO_MEMO_DEPOSIT_ADDRESS=USDT:DEPOSIT_ADDRESS
CRYPTO_DEPOSIT_ADDRESS_POOL=
CRYPTO_HOT_WALLET_ADDRESS=USDT:HOT_WALLET
CRYPTO_SIGNER_URL=http://127.0.0.1:4007
CRYPTO_SIGNER_TOKEN=dev-signer-token
CRYPTO_ADMIN_TOKEN=dev-admin-token
CRYPTO_OBSERVER_URL=http://host.docker.internal:9000
CRYPTO_DEPOSIT_CONFIRMATIONS=6
CRYPTO_WITHDRAWAL_CONFIRMATIONS=6
CRYPTO_DEPOSIT_POLL_INTERVAL_MS=5000
CRYPTO_WITHDRAWAL_POLL_INTERVAL_MS=5000
CRYPTO_WITHDRAWAL_BROADCAST_INTERVAL_MS=5000
CRYPTO_WITHDRAWAL_MIN_AMOUNT=1
CRYPTO_WITHDRAWAL_MAX_AMOUNT=1000000
CRYPTO_WITHDRAWAL_DAILY_LIMIT=1000000
CRYPTO_WITHDRAWAL_COOLDOWN_SECONDS=60
CRYPTO_WITHDRAWAL_ALLOWLIST_REQUIRED=false
CRYPTO_WITHDRAWAL_AUTO_AUTHORIZE_MAX_AMOUNT=1000
CRYPTO_WITHDRAWAL_ANOMALY_MULTIPLIER=3
CRYPTO_WITHDRAWAL_MAX_REQUESTS_PER_HOUR=5
CRYPTO_WITHDRAWAL_MAX_REQUESTS_PER_DAY=20
SIGNER_API_TOKEN=dev-signer-token
SIGNER_ALLOWED_IPS=
SIGNER_PRIVATE_KEY=
